:root {
	--mutedClr: rgb(80, 80, 80);
	--baseClr: #222;
	--defaultProfileHeaderBg: linear-gradient(315deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%);/* #333 */
	--defaultProfileHeaderClr: #eee;
}

/* BASE */
body {
	color: var(--baseClr);
	min-height: 100vh;
	position: relative;
}
a {
	text-decoration: none;
	color: unset;
	position: relative;
}
a:visited {
	color: inherit;
	text-decoration: inherit;
}
button {
	border: none;
	background: none;
}
button:focused {
	outline: none;
}
form h1 {
	color: linear-gradient(45deg, rgb(0, 238, 255), rgb(162, 0, 255));
}
span { position: relative; }

.bg-dark{
	background-color: #222;
}

.split {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

/* POSITION */
.relative { position: relative; }
.absolute { position: absolute; }

/* SIZING */
.w-full {
	width: 100%;
}
.w-big {
	width: 70%;
}
.h-full {
	height: 100%;
}
.medium-icon {
	width: 3rem;
	height: 3rem;
}
.small-icon {
	width: 1.5rem;
	height: 1.5rem;
}

/* SPACING */
.label-isolated {
	padding-left: 3rem;
	padding-right: 3rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
}
.region-isolated {
	padding-left: 4rem;
	padding-right: 4rem;
	padding-top: 1rem;
	padding-bottom: 1rem;;
}
.inline-block {
	display: inline-block;
}
.center-the-stuff {
	display: flex;
	justify-content: center;
}
.center-the-stuff-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.center-the-stuff-h {
	display: flex;
	align-items: center;
}
.small-icon {
	display: inline-block;
	margin-left: .5rem;
	margin-inline-start: .5rem;
}

/* DECORATION */
.blue-grad {
	background: linear-gradient(135deg, rgb(2,0,36) 0%, rgb(7, 7, 82) 100%);
	background: -moz-linear-gradient(135deg, rgb(2,0,36) 0%, rgb(7, 7, 82) 100%);
	background: -o-linear-gradient(135deg, rgb(2,0,36) 0%, rgb(7, 7, 82) 100%);
	background: -webkit-linear-gradient(135deg, rgb(2,0,36) 0%, rgb(7, 7, 82) 100%);
}
nav a:hover .medium-icon {
	transform: translateY(-.3rem);
}
#profile header {
	background-color: var(--defaultProfileHeaderBg);
	color: var(--defaultProfileHeaderClr);
	fill: var(--defaultProfileHeaderClr);
}
.animated {
	transition: all 250ms ease-in-out;
}
.label-isolated .bottom-label {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: 0;
}
.label-isolated:hover .bottom-label {
	opacity: 1;
}
.shadow {
	box-shadow: 1px 0px 10px rgba(0, 0, 0, .3);
}
.muted-text {
	color: var(--mutedClr);
	display: block;
}
.muted-till-hover {
	color: var(--mutedClr);
	fill: var(--mutedClr);
}
.muted-till-hover:hover {
	color:var(--baseClr);
	fill: var(--baseClr);
}
.button-underline {
	position: relative;
}
.stack {
	display: inline-flex;
	flex-direction: column;
}
.soft-outline {
	border: 1px rgba(0, 0, 0, .5);
	border-radius: 1rem;
	padding: 1rem;
}
.round {
	border-radius: 50%;
}
.medium-icon, .small-icon {
	fill: inherit;
}

/* STATES */
.screen-thumb {
	width: 200px;
	height: auto;
	border-radius: 1rem;
}
.screen-preview {
	width: auto;
	height: 720px;
	border-radius: 1rem;
	display:inline-block;
}
.screen-wide {
	width: 100%;
	height: auto;
	display: block;
}
.screen-large {
	width: initial;
	height: auto;
	display: block;
}

/* COMPONENTS */
.searchbox {
	border: 1px solid #555;
	border-radius: .5rem;
	padding-left: .5rem;
	padding-right: .5rem;
	padding-top: 0;
	padding-bottom: 0;
	max-height: 2.5rem;
}
.avatar-small {
	width: 3rem;
	height: 3rem;
}
.avatar-big {
	width: 6rem;
	height: 6rem;
	border: solid 2px white;
	border-radius: 3rem;
	display: inline-block;
	margin: 1.5rem;
}
.big-g-button {
	font-size: 1em;
	padding: .5rem 1rem;
	text-align: center;
	background: rgba(255,255,255,.8);
	border-radius: 1.5rem;
	color: rgba(0,0,0,.7);
	fill: rgba(0,0,0,.7);
	font-weight: bold;
	cursor: pointer;
}
.big-g-button.followed {
	background: rgba(0, 0, 0, .6);
	color: white;
}
.big-g-button:hover {
	border-radius: .5rem;
}

/* EXTRA */
.username {
	font-style: italic;
}
