
.bg-dark{
	background-color: #222;
}

.split {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.w-full {
	width: 100;
}
.w-big {
	width: 70%;
}
.h-full {
	height: 100%;
}

.label-isolated {
	padding-left: 4rem;
	padding-right: 4rem;
}